Pandas Challenge

Yusuf Khan 811286910

In [22]:
import pandas as pd

In [23]:
my_data = {'Numbers':[1,2,3],
            'Fruits':['apples','oranges','banana'],
            'Names':['Anna','Sarah','Lilli']}  #{} is a dictionary
my_df = pd.DataFrame(my_data)

In [24]:
my_df.head(1) #first five by default

   Numbers  Fruits Names
0        1  apples  Anna

In [25]:
my_df.tail(1) #last five by default

   Numbers  Fruits  Names
2        3  banana  Lilli

In [26]:
my_df.index #will return the index of the dataframe

RangeIndex(start=0, stop=3, step=1)

In [27]:
my_df['Numbers'] #will return the First column

0    1
1    2
2    3
Name: Numbers, dtype: int64

In [28]:
my_df.loc[0] #loc takes the index of a row and the gives the label location of a row

Numbers         1
Fruits     apples
Names        Anna
Name: 0, dtype: object

In [29]:
my_df.iloc[0] #is the current posiotn of the row

Numbers         1
Fruits     apples
Names        Anna
Name: 0, dtype: object

In [30]:
my_data2 = [{'Numbers':1, 'Fruits':'apples', 'Names':'Anna'},
            {'Numbers':2, 'Fruits':'oranges', 'Names':'Sarah'},
            {'Numbers':3, 'Fruits':'banana', 'Names':'Lilli'}]

my_df2 = pd.DataFrame(my_data2)
my_df2.head()

   Numbers   Fruits  Names
0        1   apples   Anna
1        2  oranges  Sarah
2        3   banana  Lilli

In [31]:
my_df.to_csv('Khan_PandasChallenge.csv')  # to save the dataframe as a csv file

**What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?**


Our role is to conceptualize, craft, and write out the rules of the systemm which is then finally,executed by the software(Murray S, 2017). This loop of   write/render/evaluate involves writing the code to create the visualization, rendering it to see the output, and then evaluating the result to determine whether or not if it meets the desired objectives. This is an iterative process that allows for continuous improvement, allowing us to adjus  visualizations based on feedback, understanding and make them more effective and engaging.

**Why are dynamic, interactive data visualizations useful when communicating data?**

An interactive visualization that offers an overview of the data alongside tools for “drilling down” into the details may successfully fulfill many roles at once, addressing the different concerns of different audiences, be they those new to the subject matter or already deeply familiar with the data. Interactive visualization can be a great medium for engaging an audience who might not otherwise care about the topic or data at hand. (Murray. S, 2017)

**Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.**

As Murray said that "by avoiding proprietary software and plug-ins, you can ensure that your projects are accessible on the widest possible range of devices, from typical desktop computers to tablets and even phones. The more accessible your visualization, the greater your audience and your impact."

I agree with Murray's claim that open-source tools that avoid proprietary software are better for publishing data visualizations. Open-source tools offer greater flexibility, transparencncy, and accessibility, enabling a wider audience to use, modify, and share visualizations without the limitations imposed by proprietary software. Also, open-source tools encourage collaboration and innovation within the community, leading to the improvement of the tools themselves.

However, sometimes proprietary tools may offer features that are more aligned with certain objectives, so it's also important to consider the specific needs of the project.