Mohammad Yusuf Khan

811286910

# Milestone 1 - Data cleaning

Datasets is from from iflix datathon 2019.

I found this dataset at kaggle and it is was used for the datathon 2019. I couldn't find the original source to the dataset. This dataset was provided for this competition and I found it on kaggle.

Link to the dataset: 

https://www.kaggle.com/datasets/aungpyaeap/movie-streaming-datasets-iflix

# Description of the datasets

# users.csv

User_id: Unique identifier of user

Country_code: Country code where the user registered.

# assets.csv

Show_type: Type of content, whether the asset is a movie or an episode of a TV series

Genre: Genre of content

Running_miutes: Runtime of content (Playable number of minutes)

Source_language: Production language of content

Asset_id: Unique identifier of video content at the most granular level (a movie or an episode of a TV series)

Season_id: Unique identifier of content at season level. This is only applicable to TV series

Series_id: Unique identifier of content at series level. This is only applicable to TV series

Studio_id: Unique identifier of production studio for the content

# plays.csv

Platform: Platform of consumption

Minutes_viewed : Total number of minutes viewed, rounded to the nearest integer (0 means less than 30 seconds)

# Demographics.csv Psychographics.csv

The dataset identifies psychographic and demographic tags about some iflix users. Each user-tag pair has an associated confidence score (1 is the highest, and 0 is the lowest confidence). Each trait can have up to 3 levels, depending on its granularity. Some traits can be identified by only considering the first two levels. At the same time, there are others that make more sense when all the three levels are considered, e.g., ‘iflix Viewing Behaviour’ is a level 2 psychographic trait that only makes sense when it is looked at in combination with the level 3 traits corresponding to it (‘casual,’ ‘player’ and ‘addict’). These traits represent different levels of viewing behavior of iflix users. Casual users have less than five viewing days in a month, player users have 5 to 12 viewing days in a month, and people with an addiction have more than 12 viewing days in a month. Traits are available corresponding to a user_id in the dataset only if we have certain confidence that the user belongs to the trait.

Column and Description

Level_1: Identifies the first level of the trait (psychologic or demographic)

Level_2: Identifies the second level of the trait (e.g., Music Lovers, Movies Lovers)

Level_3 : Identifies the third level of the trait, if available/relevant (e.g. Malay Movies Lovers, Indonesian TV Fans)

Confidence_score: Confidence in associating the said trait (level_1, level_2, level_3) with the uservel_2, level_3) with the userel_2, level_3) with the userevel_3) with the user

In [1]:
import pandas as pd

In [2]:
assets = pd.read_csv("assets.csv")
assets.head(1)

,show_type,genre,running_minutes,source_language,asset_id,season_id,series_id,studio_id
0,Movies,Sci-Fi,146,English,1,NaN,NaN,325.0

In [3]:
demographics = pd.read_csv("demographics.csv")
demographics.head(1)

        user_id platform       level_1 level_2 level_3  confidence_score
0  171798691973  android  Demographics  Income  Medium               1.0

In [4]:
psychographics = pd.read_csv("psychographics.csv")
psychographics.head(1)

,user_id,platform,level_1,level_2,level_3,confidence_score
0,352187318551,android,Psychographics,Social Media Fans,"\""\""",1.0

In [5]:
plays = pd.read_csv("plays.csv")
plays.head(1)

        user_id platform  asset_id  minutes_viewed
0  764504178919  android     13758              28

In [6]:
user = pd.read_csv("users.csv")
user.head(1)

        user_id country_code
0  781684047872           ID

# assets.csv

In [7]:
assets.shape

(17271, 8)

In [8]:
assets.columns

Index(['show_type', 'genre', 'running_minutes', 'source_language', 'asset_id',
       'season_id', 'series_id', 'studio_id'],
      dtype='object')

In [9]:
# Finding all the nan counts

nan_counts = assets.isna().sum()
print("NaN counts for each column:")
print(nan_counts)

NaN counts for each column:
show_type             0
genre                 1
running_minutes       0
source_language     192
asset_id              0
season_id          3293
series_id          3293
studio_id             2
dtype: int64

In [10]:
# Defining the columns I want to retrieve unique values for

columns_to_check = ['show_type', 'genre', 'source_language']

# Loop through each specified column and print unique values

for column in columns_to_check:
    unique_values = assets[column].unique()
    print(f"Unique values in '{column}':")
    print(unique_values)
    print("\n")

Unique values in 'show_type':
['Movies' 'TV']


Unique values in 'genre':
['Sci-Fi' 'Documentary and Biography' 'Reality' 'Comedy' 'Kids'
 'Action and Adventure' 'Drama' 'Fantasy' 'Romance' 'Horror'
 'Crime and Mystery' 'Others' 'Lifestyle and Fashion' 'Anime' 'Thriller'
 'Music' 'Sports' 'Adult Romance' 'Animation' 'Family' 'eSports' nan
 'Health and Fitness' 'Live Events and Specials' 'News'
 'Religion and Faith' 'Best of Web or Viral' 'Education' 'Extreme Sports'
 'Game Show']


Unique values in 'source_language':
['English' nan 'Korean' 'Malay' 'Chinese' 'Japanese' 'Thai' 'Tagalog'
 'Italian' 'Indonesian' 'Danish' 'Hindi' 'Vietnamese' 'Burmese' 'Arabic'
 'Norwegian' 'Tajik' 'Afrikaans' 'French' 'Kazakh' 'Spanish; Castilian'
 'Akan' 'Swedish' 'Hungarian' 'Urdu' 'German' 'Central Khmer' 'Kanuri'
 'Bengali' 'Swahili' 'Portuguese' 'Turkish' 'Avaric' 'Russian'
 'Sinhala; Sinhalese' 'Nepali' 'Esperanto' 'Dutch; Flemish' 'Tamil'
 'Catalan; Valencian' 'Macedonian']

Here I have organized columns in show_type, genre and source_language in ascending order. Also I have replaced all the NaN values in above columns to 0 for example for a particular genre there is no data available then I'm assuming there is no movie or tv show in that gener. For rest of the columns I kept NaN as NaN.

Also I want to see how frequently a genre has been viewed.

In [11]:
# Create a unique combination of 'show_type', 'genre', and 'source_language'
combinations = assets[['show_type', 'genre', 'source_language']].drop_duplicates()

# Merge with the original DataFrame to show all instances with the specified columns
merged_data = combinations.merge(assets)

# Fill missing values in the specified columns with 0
merged_data[['show_type', 'genre', 'source_language']] = merged_data[['show_type', 'genre', 'source_language']].fillna(0)

# Sort the DataFrame in ascending order by 'show_type', 'genre', and 'source_language'
merged_data_assets = merged_data.sort_values(by=['show_type', 'genre', 'source_language'], ascending=True)

# Display the result
merged_data_assets

,show_type,genre,source_language,running_minutes,asset_id,season_id,series_id,studio_id
15141,Movies,0,English,6,6697,NaN,NaN,454.0
13800,Movies,Action and Adventure,0,96,3424,NaN,NaN,10.0
14040,Movies,Action and Adventure,Arabic,144,3554,NaN,NaN,140.0
14041,Movies,Action and Adventure,Arabic,127,3555,NaN,NaN,140.0
14042,Movies,Action and Adventure,Arabic,96,3612,NaN,NaN,140.0
...,...,...,...,...,...,...,...,...
16371,TV,eSports,Malay,88,11136,971.0,815.0,388.0
16372,TV,eSports,Malay,6,11153,973.0,817.0,388.0
16373,TV,eSports,Malay,8,11154,973.0,817.0,388.0
16374,TV,eSports,Malay,57,11155,974.0,818.0,388.0
16375,TV,eSports,Malay,79,11156,974.0,818.0,388.0

Here I have grouped 3 columns by their frequency as I want to plot a relationship between show_type, genre, source_language

In [12]:
# Group the assets DataFrame by the specified levels
group_by_assets = assets.groupby(['show_type', 'genre', 'source_language']).size()

group_by_assets.head()

show_type  genre                 source_language
Movies     Action and Adventure  Arabic              17
                                 Bengali              4
                                 Burmese              1
                                 Chinese             69
                                 English            220
dtype: int64

In [13]:
group_by_assets = assets.groupby(['show_type', 'genre', 'source_language']).size().unstack(fill_value=0)

group_by_assets.head(1)

,source_language,Afrikaans,Akan,Arabic,Avaric,Bengali,Burmese,Catalan; Valencian,Central Khmer,Chinese,Danish,...,Spanish; Castilian,Swahili,Swedish,Tagalog,Tajik,Tamil,Thai,Turkish,Urdu,Vietnamese
show_type,genre,,,,,,,,,,,,,,,,,,,,,
Movies,Action and Adventure,0,0,17,0,4,1,0,0,69,0,...,1,0,0,12,1,19,8,2,1,3

# demographics.csv

In [14]:
demographics.shape

(102745, 6)

In [15]:
demographics.columns

Index(['user_id', 'platform', 'level_1', 'level_2', 'level_3',
       'confidence_score'],
      dtype='object')

In [16]:
# getting NaN values for each column

nan_counts = demographics.isna().sum()
print("NaN counts for each column:")
print(nan_counts)

NaN counts for each column:
user_id             0
platform            0
level_1             0
level_2             0
level_3             0
confidence_score    0
dtype: int64

Here I want to plot a visualization for the following: Income, Age, Gender and see how it has changed accross the platform.

In [17]:
# Defining the columns I want to retrieve unique values for

columns_to_check = ['platform', 'level_1', 'level_2', 'level_3']

# Loop through each specified column and print unique values

for column in columns_to_check:
    unique_values = demographics[column].unique()
    print(f"Unique values in '{column}':")
    print(unique_values)
    print("\n")

Unique values in 'platform':
['android' 'iOS' 'googlecast' 'web' 'android-tv' 'web-pwa' 'Panasonic'
 'Samsung Tizen' 'Vewd' 'webOS' 'Roku' 'COTV' 'Samsung Orsay']


Unique values in 'level_1':
['Demographics']


Unique values in 'level_2':
['Income' 'Age' 'Gender']


Unique values in 'level_3':
['Medium' 'Low' 'High' '25 - 34' '< 18' '18 - 24' 'Male' 'Female'
 '35 - 44' '55+' '45 - 54']

In [18]:
# Check for duplicate values in the 'country_name' column
duplicates = demographics['user_id'].duplicated()

# Display rows with duplicates
print(demographics[duplicates])

# If you want to check how many duplicate values are there:
print(f"Number of duplicate values: {duplicates.sum()}")

              user_id platform       level_1 level_2  level_3  \
542     1606317768818  android  Demographics     Age  25 - 34
558      231928234051      iOS  Demographics     Age  18 - 24
688      695784702029  android  Demographics     Age  18 - 24
952     1142461300917  android  Demographics  Gender   Female
986     1580547965113  android  Demographics  Gender   Female
...               ...      ...           ...     ...      ...
102740    34359738459  android  Demographics     Age  25 - 34
102741  1520418423157  android  Demographics     Age  18 - 24
102742   274877907051      iOS  Demographics     Age  25 - 34
102743  1382979469397  android  Demographics     Age  25 - 34
102744   240518168604  android  Demographics     Age  25 - 34

        confidence_score
542             1.000000
558             0.999999
688             0.999997
952             0.980183
986             0.983270
...                  ...
102740          1.000000
102741          0.999941
102742          0.999998
102743          1.000000
102744          1.000000

[30702 rows x 6 columns]
Number of duplicate values: 30702

# psychographics

In [19]:
psychographics.shape

(475089, 6)

In [20]:
psychographics.columns

Index(['user_id', 'platform', 'level_1', 'level_2', 'level_3',
       'confidence_score'],
      dtype='object')

In [21]:
nan_counts = psychographics.isna().sum()
print("NaN counts for each column:")
print(nan_counts)

NaN counts for each column:
user_id                0
platform               0
level_1                0
level_2                0
level_3             7747
confidence_score       0
dtype: int64

In [22]:
# Defining the columns I want to retrieve unique values for

columns_to_check = ['platform', 'level_1', 'level_2', 'level_3']

# Loop through each specified column and print unique values

for column in columns_to_check:
    unique_values = psychographics[column].unique()
    print(f"Unique values in '{column}':")
    print(unique_values)
    print("\n")

Unique values in 'platform':
['android' 'android-tv' 'web' 'iOS' 'web-embed' 'Vewd' 'web-pwa'
 'Samsung Tizen' 'webOS' 'googlecast' 'Panasonic' 'Roku' 'Samsung Orsay'
 'Netrange' 'COTV']


Unique values in 'level_1':
['Psychographics']


Unique values in 'level_2':
['Social Media Fans' 'Movies Lovers' 'Mobile Enthusiasts' 'TV Lovers'
 'Sports Fans' 'Music Lovers' 'iflix Viewing Behaviour' 'Travellers'
 'News Junkies & Avid Readers']


Unique values in 'level_3':
['\\"\\"' 'Romance Movies Fans' 'Comedy Movies Fans' 'Horror Movies Fans'
 'Action and Adventure Movies Fans' 'Family Movies Fans'
 'Drama Movies Fans' 'Religion and Faith Movies Fans' 'Kids Movies Fans'
 'Thriller Movies Fans' 'Sci-Fi Movies Fans' 'Fantasy Movies Fans'
 'Others Movies Fans' 'English Movies Fans' 'Indonesian Movies Fans'
 'Tagalog Movies Fans' 'Thai Movies Fans' 'Hindi Movies Fans'
 'Nepali Movies Fans' 'Korean Movies Fans' 'Vietnamese Movies Fans'
 'High Data Users' 'Comedy TV Fans' 'Anime TV Fans' 'Drama TV Fans'
 'Romance TV Fans' 'Action and Adventure TV Fans' 'Kids TV Fans'
 'Fantasy TV Fans' 'Sports TV Fans' 'Others TV Fans' 'Reality TV Fans'
 'Korean TV Fans' 'Malay TV Fans' 'English TV Fans' 'Indonesian TV Fans'
 'Japanese TV Fans' 'Chinese TV Fans' 'Tagalog TV Fans' 'Thai TV Fans'
 'Arabic TV Fans' 'Malay Movies Fans' 'Burmese Movies Fans'
 'Chinese Movies Fans' 'Bengali Movies Fans' 'Central Khmer Movies Fans'
 'Portuguese Movies Fans' 'Downloaders' nan 'casual' 'addict' 'player'
 'Reality Movies Fans' 'Music Movies Fans'
 'Documentary and Biography Movies Fans' 'Crime and Mystery Movies Fans'
 'International Travellers' 'Local Commuters' 'Animation TV Fans'
 'Spanish; Castilian Movies Fans' 'French Movies Fans' 'News Movies Fans'
 'Horror TV Fans' 'Documentary and Biography TV Fans'
 'Crime and Mystery TV Fans' 'Italian TV Fans' 'Nepali TV Fans'
 'Dutch; Flemish TV Fans' 'Urdu Movies Fans' 'Danish Movies Fans'
 'Adult Romance Movies Fans' 'Hungarian Movies Fans' 'Tamil Movies Fans'
 'Education Movies Fans' 'Anime Movies Fans' 'Animation Movies Fans'
 'Japanese Movies Fans' 'Sports Movies Fans' 'News TV Fans'
 'Turkish Movies Fans' 'Game Show TV Fans' 'Lifestyle and Fashion TV Fans'
 'Arabic Movies Fans' 'Music TV Fans' 'Urdu TV Fans' 'French TV Fans'
 'Bengali TV Fans' 'Hindi TV Fans' 'Kanuri TV Fans' 'eSports Movies Fans'
 'Burmese TV Fans' 'Sinhala; Sinhalese TV Fans'
 'Lifestyle and Fashion Movies Fans' 'Tajik Movies Fans'
 'Norwegian Movies Fans' 'Religion and Faith TV Fans' 'Family TV Fans'
 'Extreme Sports Movies Fans' 'Education TV Fans'
 'Best of Web or Viral TV Fans' 'Sci-Fi TV Fans'
 'Health and Fitness Movies Fans' 'eSports TV Fans'
 'Spanish; Castilian TV Fans' 'Central Khmer TV Fans' 'Akan Movies Fans'
 'Live Events and Specials Movies Fans' 'Thriller TV Fans'
 'Italian Movies Fans' 'Afrikaans TV Fans' 'Kazakh Movies Fans'
 'Best of Web or Viral Movies Fans' 'Afrikaans Movies Fans'
 'Swahili TV Fans' 'Catalan; Valencian TV Fans' 'Swedish Movies Fans'
 'Avaric TV Fans' 'Russian Movies Fans' 'Macedonian Movies Fans'
 'Norwegian TV Fans' 'Vietnamese TV Fans' 'German TV Fans']

In [23]:
# Check for duplicate values in the 'country_name' column
duplicates = psychographics['user_id'].duplicated()

# Display rows with duplicates
print(psychographics[duplicates])

# If you want to check how many duplicate values are there:
print(f"Number of duplicate values: {duplicates.sum()}")

              user_id    platform         level_1                  level_2  \
37       137438953840     android  Psychographics            Movies Lovers
208     1391569404252     android  Psychographics       Mobile Enthusiasts
705      386547056820     android  Psychographics  iflix Viewing Behaviour
732     1133871366223     android  Psychographics  iflix Viewing Behaviour
826      858993459349     android  Psychographics            Movies Lovers
...               ...         ...             ...                      ...
475084  1228360646659  android-tv  Psychographics                TV Lovers
475085   214748365245     android  Psychographics       Mobile Enthusiasts
475086   953482739908     android  Psychographics       Mobile Enthusiasts
475087   712964571361     android  Psychographics       Mobile Enthusiasts
475088   360777252917     android  Psychographics       Mobile Enthusiasts

                   level_3  confidence_score
37      Comedy Movies Fans              0.81
208        High Data Users              0.43
705                 casual              1.00
732                 player              1.00
826     Comedy Movies Fans              0.98
...                    ...               ...
475084       Malay TV Fans              0.69
475085         Downloaders              0.51
475086         Downloaders              0.72
475087         Downloaders              0.25
475088         Downloaders              0.65

[364450 rows x 6 columns]
Number of duplicate values: 364450

# plays

In [24]:
plays.shape

(542157, 4)

In [25]:
plays.columns

Index(['user_id', 'platform', 'asset_id', 'minutes_viewed'], dtype='object')

In [26]:
nan_counts = plays.isna().sum()
print("NaN counts for each column:")
print(nan_counts)

NaN counts for each column:
user_id           0
platform          0
asset_id          0
minutes_viewed    0
dtype: int64

In [27]:
plays['platform'].unique()

array(['android', 'iOS', 'android-tv', 'web', 'webOS', 'web-embed',
       'Samsung Tizen', 'Samsung Orsay', 'Vewd', 'googlecast', 'web-pwa',
       'Roku', 'Panasonic', 'Netrange'], dtype=object)

# user

In [28]:
user.shape

(110639, 2)

In [29]:
user.columns

Index(['user_id', 'country_code'], dtype='object')

In [30]:
nan_counts = user.isna().sum()
print("NaN counts for each column:")
print(nan_counts)

NaN counts for each column:
user_id         0
country_code    0
dtype: int64

Here I'm trying merge this dataset with the assets.csv to get details about what shows are frequently viewed in which country, so on and so forth.

In [31]:
user['country_code'].unique()

array(['ID', 'MY', 'PH', 'TH', 'PK', 'BD', 'MM', 'VN', 'KH', 'NP', 'MV',
       'EG', 'SA', 'MA', 'LK', 'IQ', 'TZ', 'UG', 'KE', 'GH', 'NG', 'SD',
       'ZW', 'LA', 'BH', 'BN', 'SG', 'ET', 'KW', 'JO', 'MU', 'LB', 'US',
       'ZM', 'JP', 'IN', 'KR', 'GB', 'QA', 'TN'], dtype=object)

In [32]:
# Create a dictionary to map country codes to their full names
country_name = {
    'ID': 'Indonesia',
    'MY': 'Malaysia',
    'PH': 'Philippines',
    'TH': 'Thailand',
    'PK': 'Pakistan',
    'BD': 'Bangladesh',
    'MM': 'Myanmar',
    'VN': 'Vietnam',
    'KH': 'Cambodia',
    'NP': 'Nepal',
    'MV': 'Maldives',
    'EG': 'Egypt',
    'SA': 'Saudi Arabia',
    'MA': 'Morocco',
    'LK': 'Sri Lanka',
    'IQ': 'Iraq',
    'TZ': 'Tanzania',
    'UG': 'Uganda',
    'KE': 'Kenya',
    'GH': 'Ghana',
    'NG': 'Nigeria',
    'SD': 'Sudan',
    'ZW': 'Zimbabwe',
    'LA': 'Laos',
    'BH': 'Bahrain',
    'BN': 'Brunei',
    'SG': 'Singapore',
    'ET': 'Ethiopia',
    'KW': 'Kuwait',
    'JO': 'Jordan',
    'MU': 'Mauritius',
    'LB': 'Lebanon',
    'US': 'United States',
    'ZM': 'Zambia',
    'JP': 'Japan',
    'IN': 'India',
    'KR': 'South Korea',
    'GB': 'United Kingdom',
    'QA': 'Qatar',
    'TN': 'Tunisia'
}

# Replace the country codes in the 'country_code' column
user['country_code'] = user['country_code'].replace(country_name)

# Display the updated DataFrame
user.head(1)

        user_id country_code
0  781684047872    Indonesia

In [33]:
# changing the column name

user.rename(columns={'country_code': 'country_name'}, inplace=True)
user.head(1)

        user_id country_name
0  781684047872    Indonesia

In [34]:
# Check for duplicate values in the 'country_name' column
duplicates = user['country_name'].duplicated()

# Display rows with duplicates
print(user[duplicates])

# If you want to check how many duplicate values are there:
print(f"Number of duplicate values: {duplicates.sum()}")

              user_id country_name
2        781684047874    Indonesia
3        781684047875    Indonesia
4        781684047876    Indonesia
5        781684047877    Indonesia
6        781684047878    Indonesia
...               ...          ...
110634  1494648619559   Bangladesh
110635  1494648619560    Indonesia
110636  1494648619561    Indonesia
110637  1494648619562    Indonesia
110638  1494648619563        Nepal

[110599 rows x 2 columns]
Number of duplicate values: 110599


By now I have understood my data well enough to realize what kind of basic analysis I want to do for now and in order to reach here I have focused the data reorganizing process by making it more understandable to me, which included stacking data in levels so I can see it properly how data has been grouped, renaming some columns for better understanding, by getting rid of some of the NaN values. By doing so, the data is now clearer and will be easier to visualize due to it's improved interpretability of visual outputs. Future visualizations will be supported by this work, which will enable me to develop meaningful graphs and dashboards that highlight the most important features of the data. Now that I can understand my dataset properlly, I want to address some of the initial questions that I can and want to address for now.

1. What is the frequency of different genre being viwed by different age group, income group, country?
2. What are the average number of data being viewed by sections of society?
3. Which platform are the most most used and where?

I might find some additional questions to be asked if i will find any more relationship in the data.

Overall I am satisfied with my milestone and feel confident enough to move forward with this project.